<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>HOME - MARVEL </title>
</head>
<body>
    <header class="bg-red-500 w-full h-[10vh] text-white flex justify-center items-center">
        <a class="mx-[1em]" href="/">home</a>
        <a class="mx-[1em]" href="/login">login</a> |
        <a class="mx-[1em]" href="/register">register</a>
    </header>
    <div class="main w-full h-[90vh] flex justify-center items-center flex-col">
        <h1 class="text-[3em] font-bold">WELCOME TO MARVEL-EXPRESS</h1>
        <a href="/login" class="border-[2px] border-black p-2 rounded">EMPEZEMOS</a>
    </div>

</body>
</html>